body {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #eee;
  background-color: #17223b;
}

a {
  text-decoration: none;
  color: #eee;
}

li {
  list-style: none;
}

.copyright {
  float: right;
  font-size: 5px;
  font-weight: bold;
  padding: 10px;
}